


.forminput{
    height:45px;
    box-sizing:border-box;
    padding-left:10px;
    border-radius:10px;
    width:100%;
    font-size:15px;
    background-color: rgb(228,228,228);
    color: black;
    outline:none;
    border-width:0px 0px 0px;
    border-color:rgba(95, 94, 94, 0.698);
    text-align:left
}


.forminputUnfilled{
    height:45px;
    box-sizing:border-box;
    padding-left:10px;
    border-radius:10px;
    width:100%;
    font-size:15px;
    background-color: rgb(228,228,228);
    color: black;
    outline:none;
    border-width: 1px;
    border-color:red;
    text-align:left;
    
}


.forminputTextArea{
    height:130px;
    box-sizing:border-box;
    padding-left:10px;
    border-radius:10px;
    padding-top: 20px;
    width:100%;
    font-size:15px;
    background-color: rgb(228,228,228);
    color: black;
    outline:none;
    border-width:0px 0px 0px;
    border-color:rgba(95, 94, 94, 0.698);
    text-align:left
}

.forminputTextAreaUnfilled{
    height:130px;
    box-sizing:border-box;
    padding-left:10px;
    border-radius:10px;
    padding-top: 20px;
    width:100%;
    font-size:15px;
    background-color: rgb(228,228,228);
    color: black;
    outline:none;
    border-width: 1px;
    border-color:red;
    text-align:left
}

@media(max-width:500px){


    .forminput{
        height:45px;
        box-sizing:border-box;
        padding-left:10px;
        border-radius:10px;
        width:100%;
        margin: 0px auto;
        font-size:15px;
        background-color: rgb(228,228,228);
        color: black;
        outline:none;
        border-width:0px 0px 0px;
        border-color:rgba(95, 94, 94, 0.698);
        text-align:left
    }
    
    
    .forminputUnfilled{
        height:45px;
        box-sizing:border-box;
        padding-left:10px;
        border-radius:10px;
        width:100%;
        margin: 0px auto;
        font-size:15px;
        background-color: rgb(228,228,228);
        color: black;
        outline:none;
        border-width: 1px;
        border-color:red;
        text-align:left;
        
    }
    
    
    .forminputTextArea{
        height:130px;
        box-sizing:border-box;
        padding-left:10px;
        border-radius:10px;
        padding-top: 20px;
        width:100%;
        margin: 0px auto;
        font-size:15px;
        background-color: rgb(228,228,228);
        color: black;
        outline:none;
        border-width:0px 0px 0px;
        border-color:rgba(95, 94, 94, 0.698);
        text-align:left
    }
    
    .forminputTextAreaUnfilled{
        height:130px;
        box-sizing:border-box;
        padding-left:10px;
        border-radius:10px;
        padding-top: 20px;
        width:100%;
        margin: 0px auto;
        font-size:15px;
        background-color: rgb(228,228,228);
        color: black;
        outline:none;
        border-width: 1px;
        border-color:red;
        text-align:left
    }


}