.userMainUploads{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns:auto auto;
    gap:5px;
    padding:5px;
    position: relative;
    z-index: 10;
    transition: grid-template-columns 3.5s ease;
}

.appPromoButton{
 width: 150px;
 height: 40px;
 padding: 5px 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
 background-color: black;
 color: white;
 border-radius: 7px;
 box-shadow: 1px 1px 5px rgb(91, 90, 90);
 position: relative
}


.appPromoButton:after {
    content: "";
  background: whitesmoke;
  display: block;
  position: absolute;
  padding-top: 100%;
  padding-left: 100%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
  }
  
  .appPromoButton:active:after {
    top:15px;
    left:0px;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

.moreItem{
    position:absolute;
    bottom:60px;
    background-color:white;
    border-radius:10px;
    z-index:3;
    right:10px;
    height:auto;
    width:140px;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    padding:15px;
    box-shadow:1px 1px 5px rgb(91, 90, 90);
    animation-name: popShow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}



.userMainUploadsColumn{
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns:auto;
    gap:5px;
    padding:5px;
    position: relative;
    z-index: 10;
    transition: grid-template-columns 3.5s ease;
}


@keyframes popShow{
    from{ transform: scale(0)}
    to{ transform: scale(1);
        height:auto;
        width: 140px;
       }
  }