:root {

}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(228,228,228);
}

a {
  color: inherit;
  text-decoration: none;
}


@font-face {
  font-family: "NexaTextBold";
  src: local("NexaTextBold"),
    url("../../public/NEXAFONTS/OTF/Nexa-Black.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NexaTextLight";
  src: local("NexaTextLight"),
    url("../../public/NEXAFONTS/OTF/Nexa-Light.otf") format("truetype");
  font-weight: 500;
}