.creatorsects{
    width: auto;
    display:flex;
    justify-content: left;
    padding:15px 0px;
    font-size:18px;
    font-weight:bolder;
    font-family: 'Merriweather', serif;; 
}

.navMainHolder{
    position:fixed;
    top:0px;
    left:0px;
    width:25%;
    background-color:white;
    height:100vh;
    overflow:auto
}

.creatorsectsInner{
    width: auto;
    display:flex;
    justify-content: left;
    padding:15px 0px;
    font-size:18px;
    font-weight:bolder;
    font-family: NexaTextLight;
    margin: 15px 0px;
    cursor: pointer
}

.creatorsectsInnerUser{
    width: auto;
    padding:15px 5px;
    font-size:18px;
    font-weight:bolder;
    font-family: NexaTextLight;
    margin: 15px 0px;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navdivs{
    width: 85%;
    margin: 45px auto;
    height: auto;
    padding:15px;
    box-sizing: border-box;
    min-height: 70px;
    background-color: rgb(228,228,228);
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgb(91, 90, 90);
}



.navspanIcon{
    margin-right:2.5px;
    padding:7px;
    display:flex;
    align-items:center;
    justify-content:center
}

.navlogospan{
    margin-left:2.5px;
    display:flex;
    justify-content:center;
    align-items:center
}


@media(max-width:800px){
    .navMobileOff{
        animation-name: menuClose;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        position:absolute;
        display: block;
        left:0px;
        bottom:0px;
        top: 0px;
        z-index:300;
        width:85%;
        background-color:white;
        min-height:100vh;
        overflow:auto
    
    }

    .navMainMobile{
        animation-name: menuOption;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        display:block;
        background-color:white;
        overflow: auto;
        position: fixed;
        top:0px;
        bottom: 0px;
        left: 0px;
        z-index:300000;
        width:350px;
        height:100%;
    }
}


@keyframes menuOption{
    from{ transform: translateX(-400px)}
    to{ transform: translateX(0px)}
  }

  @keyframes menuClose{
    from{ transform: translateX(-400px)}
    to{ transform: translateX(-400px)}
  }

